aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
crispy-bootstrap5==2024.2
Django==5.0.4
django-crispy-forms==2.1
django-import-export==4.0.7
joblib
PyMySQL==1.1.0
numpy
scipy
cython
scikit-learn==1.2.2
pillow
whitenoise
psycopg2-binary
